app-view
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    & > .flexrow > nav
        flex-flow row wrap
    & > nav > .tabs li
        position relative
        &:last-child
            width 2rem
    .limitwidth
        max-width 5rem
    & > nav > .tabs
        border-radius 0
        width 100%

@media (max-width 1100px)
    app-view > nav > .tabs
        span
            display none
        svg:first-child
            margin-right 0
