coding-language-selector
    z-index 1001
    position fixed
    display block
    .aModal
        width 70vw
        max-width 60rem
        h2 svg
            vertical-align middle
            width 3rem
            height 3rem
            margin-right 0.75rem
        & > *
            padding-left 1.5rem
            padding-right 1.5rem
