export-panel
    .modal
        width 30rem
    label svg
        vertical-align -3px
        color act
    label + label
        margin-top 0.5rem
        display block
    pre
        overflow auto
        max-height 10rem