font-editor
    display flex
    flex-flow row nowrap
    .left
        text-align inherit
        width 15rem
        flex 1 0 auto
    .right
        text-align inherit
        p
            margin 0 0 1rem
            padding 0.5rem 3rem 0.5rem 1rem
            border-top 1px solid borderPale
            position relative
            &::after
                content attr(data-size) 'px'
                position absolute
                right 0.5rem
                top 0.5rem
                font-family fonts
                font-weight 400
                font-style normal
                font-size 0.75rem