fonts-panel
    padding 1em
    h1
        margin-bottom 1rem
    if (theme == 'Night')
        .cards li img
            filter invert(1)
            &:hover
                background transparent
