#hello
    position fixed
    left 50%
    top 50%
    transform translate(-50%, -50%)
    font-size 2em
    max-width 50%
    text-align center
    line-height 1.47
#hell
    display none
    position fixed
    top 50%
    left 20%
    right 20%
    transform translate(0, -50%)
    font-size 1.25em
    text-align center
    li
        list-style none
        display inline-block
        position relative
        padding 0.35em 0.5em 1em
        background backgroundDeeper
        border 1px solid borderBright
        border-radius br
        margin 0 0.5em
        cursor pointer
        &:after
            content attr(title)
            position absolute
            left 0
            right 0
            bottom 0
            text-align center
            display block
            font-size 0.9em
