license-panel
    overflow auto
    max-height 90%
    width 55rem
    max-width 90%
    pre
        max-height 15rem
        overflow auto
    {shadamb}
    i.icon-x:hover
        cursor pointer
        color act