main-menu
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    & > .flexrow > nav
        flex-flow row wrap
    li
        position relative
#theCatMenu
    top 100%
    left 0
#fullscreen
    flex 0 0 3rem
#app
    flex 0.35 1 12rem
#mainnav
    flex 1 1 60rem

body.maximized #mainnav
    @media (max-width 1000px)
        flex-wrap wrap

body.restored
    #mainnav
        right 0
    #app
        display none

#mainnav, #app, #fullscreen
    border-radius 0

@media (max-width 1000px)
    #mainnav span
        display none
    #mainnav svg:first-child
        margin-right 0
