modules-panel
    display block
    .nav
        border-bottom-left-radius 0
        border-bottom-right-radius 0

#moduleincluded, #modulelist
    list-style none
    line-height 2.3
    padding-left 0.5em
    li
        cursor pointer
        position relative
        left 0
        {trans}
        &:hover
            left 0.4em
    svg
        margin-right 0.5em

#modulelist li
    opacity 0.65
    &:hover
        opacity 1
#modname
    margin 0
    .version
        font-size 0.5em
        font-weight 400
        &:before
            content "v."
            margin-left 1em
#moduleinfo .bigpower
    margin-right 1em
#modinjects, #modconfigurable, #modinputmethods
    cursor help
    margin-left 0.35rem
#modsite svg
    margin-right 0.5rem
#modulesettings
    textarea
        width 100%
        box-sizing border-box
        height 10em
        resize vertical
    textarea:active
        transition 0 none
    .desc p
        margin-top 0
#modinfohtml, #modulehelp, #modulelogs
    -webkit-user-select text
    cursor text
