@keyframes onboardingSpinIn
    0%
        box-shadow 0 0 5rem act
        transform translate(-50%, -50%) rotate(360deg) scale(0, 0)
    70%
        box-shadow 0 0 5rem transparent
        transform translate(-50%, -50%) rotate(-10deg) scale(1, 1)
    100%
        transform translate(-50%, -50%) rotate(0deg) scale(1, 1)

new-project-onboarding
    position fixed
    .panel
        position fixed
        left 50%
        top 50%
        width 35rem
        max-height 90%
        transform translate(-50%, -50%)
        padding 1rem 1rem 0
        z-index 100
        animation onboardingSpinIn 1s ease-in-out
        {shadamb}
    .anIllustration
        width 25rem
        height 20rem
        margin 2rem 0 0
        color act
        @media (max-height: 810px)
            height 15rem
            margin 1rem 0 0
    .menu, .inset
        text-align left
    .menu
        svg
            color act
            margin-right 1rem
        li
            padding-top 0.5rem !important
            padding-bottom 0.5rem !important
            &:last-child
                border-bottom 0
            &:active svg
                color background
        margin-bottom 1rem
    .inset
        padding 1rem 2rem
        label
            padding-left 2.3rem