patreon-screen
    display block
    padding 1rem 2rem
    h2
        margin-bottom 1rem

patron-line
    display block
    & + &
        margin-top 0.5rem
    img
        border-radius 100%
        width 3rem
        height @width
        margin-right 0.5rem
        vertical-align middle