.aQRList
    display flex
    flex-flow row wrap
.aQR
    flex 1 1 280px
    img
        margin-bottom 0.5rem
        display inline-block !important
        if (themeDark)
            border 1rem solid act
    margin 0 0 2rem
preview-modal
    width 45rem
    padding 2rem 2rem 1rem
    .toright span
        cursor pointer
        &:hover
            color act