project-selector
    display block
    position absolute
    padding 1rem
    left 0
    right 0
    top 0
    bottom 0
    z-index 30
    label.file
        margin 1em 0
    .panel
        width 48rem
        max-width 95%
        margin 0 auto 2rem
        padding 1rem
        background background
        flex-flow column nowrap
        z-index 35
        {shadamb}
    .inset
        margin 0 -1rem -1rem
        border-radius 0 0 br br
    .menu
        max-height 15rem
        li
            direction rtl
        svg
            margin-left 1rem
    .aVersionNumber
        position absolute
        bottom 0
        left 0
        width 100%
        text-align center
        z-index 100
        // @stylint off
        color #fff
        // @stylint on
        *
            vertical-align text-bottom
        .aPartyCarrot
            width 2rem
            display inline-block
            position relative
            top -0.1rem
            margin-left 0.5rem
        svg
            margin-right 0.5rem

.project-selector-aPreview img
        max-width 100%
        max-height 20em

#recent
    height 15em
    span
        overflow hidden
        white-space nowrap
        width 100%
        display block
        text-overflow ellipsis
#bg
    background url('../data/img/bg.png')
    background-size cover
    background-position center center
    z-index 25
    text-align center
    .panel
        text-align initial

#id
    width 14.75em
#newproj
    margin-right 0
