project-selector
    display block
    position absolute
    padding 1rem
    left 0
    right 0
    top 0
    bottom 0
    z-index 30
    .aPanel
        width 50rem
        max-width 95%
        max-height calc(100% - 10rem)
        margin 0 auto 2rem
        background background
        z-index 35
        {shadamb}
        h2
            align-self flex-end
    .inset
        margin 0
        border-radius 0 0 br br
    .aVersionNumber
        position absolute
        bottom 0
        left 0
        width 100%
        text-align center
        z-index 100
        // @stylint off
        color #fff
        // @stylint on
        *
            vertical-align text-bottom
        .aPartyCarrot
            width 2rem
            display inline-block
            position relative
            top -0.1rem
            margin-left 0.5rem
        svg
            margin-right 0.5rem
    .&-aPatronsLine
        // @stylint off
        color #fff
        // @stylint on
        svg
            margin-right 0.35em

.project-selector-aPreview img
        max-width 100%
        max-height 20em

#theNewProjectField
    display grid
    gap 0.75rem 1.5rem
    grid-template-columns 1fr 3fr
    align-items baseline
    .theNewProjectField-aLabel
        grid-column 1
        text-align right
    .theNewProjectField-aValue, h2, .theNewProjectField-aButton
        grid-column 2
        align-items baseline
        [type="text"]
            width 16.5rem
    h2
        padding 1rem 0 0.25rem
.theNewProjectField-aButton
    padding 0.5rem 2rem
    justify-self left
    margin-top 1rem
    margin-bottom 0.25rem
#theIntroBg
    background url('../data/img/bg.png')
    background-size cover
    background-position center center
    z-index 25
    text-align center
    .aPanel
        text-align initial
