rooms-panel
    display block
    padding 1em

.cards.rooms
    li
        text-align center
        position relative
    img
        float none
        max-width 13.5em
        max-height 10em
        margin 0 0 0.5em
        width auto
        height auto
    span
        font-family consolas, monospace
        width 15em
        display block
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
    .starting:after
        @extends .icon-play:before
        position absolute
        right 0.5em
        top 0.5em
        font 1.5rem/1.5rem icomoon
        color warning
