script-editor
    .flexfix
        padding 1rem
    .acer
        border-radius br
        border 1px solid bd
        position absolute
        left 0
        width 100%
        height 100%
        box-sizing border-box
    .flexfix-body
        margin 1rem 0