scripts-panel
    li
        .dim
            color bd
            {trans}
        .scripts-panel-aDeleteButton
            margin-left 1rem
        &:hover
            svg
                color act
            .scripts-panel-aDeleteButton svg
                color red
        &:active
            svg
                color white