sound-editor
    .modal
        padding calc(1em + 0.5px)
        width 21em
        vertical-align middle
        background white
        color text
    audio
        margin-top 2rem
        border 1px solid bl

sounds-panel .cards img
    border 0 none !important
