copy-custom-properties-modal
    position fixed
    z-index 10
    width 40rem
    left 50%
    margin-left -20rem
    top 10rem
    .aPanel
        padding 1rem
        box-shadow 0 1rem 2rem rgba(foreground, 0.35)
