rooms-panel
    display block
    padding 1em
    overflow-x hidden

    .cards
        .starting svg
            position absolute
            right 0.5em
            top 0.5em
            color warning
        &.list
            .starting svg
                position static
                margin 0 0.5rem
                order 5
            img
                width auto
