room-events-editor
    @extends .view
    border-top 0 none
    display flex
    flex-direction column
    z-index 11
    overflow hidden !important
    .tabs, button
        border-radius 0
    button
        margin-top 1px
    .tabwrap, button
        flex 1 1 auto
    .tabbed
        padding 0
        height 100%
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        border-radius 0
        overflow visible
        box-sizing border-box