room-tile-editor
    .&-aCanvas
        min-width 100%
        margin 0.5rem 0
        display block
        position relative
    .&-aLayerList
        max-height 10rem
        li.checkbox
            border-radius br
            display flex
            padding-left 2rem
            padding-right 0.5rem
            &:hover
                padding-left 2rem
                padding-right 0.5rem
            [type="checkbox"]
                left 0.5rem
            *
                flex 0 0 auto
            b
                flex 1 1 auto
            .a
                margin-left 0.5rem
            &.active
                background rgba(act, 0.25)
                color text
