# Mac
.DS_Store
.AppleDouble
.LSOverride
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# Linux
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Ct.js
*.ict.recovery
*.ict.backup*
prev
trash
splash.png
