#coteiko
//- Потом посмотрим что тут написать

//- репозиторий, адреса наши, донат (хохо), приглашение покодить, сайт, благодарности, используемые библиотеки, мы любимые, спасибо тестерам, подписывайтесь в такие-то группы, следите за обновлениями там-то, а пообщаться можно на гиттолчке, плюс поставьте звёздочку в гите и расскажите друзьям, лицензия такая-то, оригинальная идея принадлежит МНЕ, копирайты и прочая информация об авторской ценности, где взять логотипы и прочее, отправить баг, и пасхалочку
//- первое, что приходит в голову о_о
