div#loading #{intro.loading}
script(src="./js/jquery.js")

script(src="./js/alertify.js")
script(src="./js/jquery.nouislider.all.js")
script(src="./js/20.keymaster.js")
script(src="./js/jQueryColorPicker.min.js")

script(src="./js/ace.js")
script(src="./js/ext-error_marker.js")
script(src="./js/ext-searchbox.js")
script(src="./js/ext-statusbar.js")
script(src="./js/ext-textarea.js")
script(src="./js/ext-whitespace.js")
script(src="./js/mode-html.js")
script(src="./js/mode-css.js")
script(src="./js/mode-javascript.js")
script(src="./js/mode-markdown.js")
script(src="./js/mode-plain_text.js")
script(src="./js/theme-tomorrow.js")
script(src="./js/worker-javascript.js")
script(src="./js/worker-html.js")
script(src="./js/worker-css.js")
script(src="./js/worker-json.js")
script(src="./js/ext-language_tools.js")

script(src="./js/main.js")