#graphic.panel.view
	label.file
		button
			i.icon.icon-plus
			span #{graphic.import}
		input#inputgraphic(type="file" multiple accept=".png,.jpg,.jpeg,.bmp,.gif" data-event="graphicImport")
	//-	button#graphiccreate(data-event="graphicCreate")
	//-		i.icon.icon-lamp
	//-		span #{graphic.create}
	ul.cards

#tempgraphic.panel.view
	ul.cards