head
	title ct.IDE
	
	meta(charset='utf-8')
	meta(name='description', content='IDE')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	link(href='./bundle.css', rel='stylesheet')
