emitter-tandem-editor
    & > .aResizer, & > .flexfix
        flex 0 0 auto !important
    emitter-editor, .&-anAddEmitterButton
        flex 0 0 auto !important
        width 20rem
    emitter-editor
        overflow-y scroll
    [ref="preview"]
        position relative
        overflow hidden
    .&-Tools, .zoom
        position absolute
        margin 0.5rem 1rem
    .&-Tools
        bottom 0
        left 0
        right 0
    .zoom
        right 0
        top 0
    .panel
        border-radius 0