emitter-editor
    overflow auto
    & > label
        display block
        margin-bottom 1rem
        &:last-child
            margin-bottom 0
.emitter-editor-aHeader
    margin -1rem -1rem 1rem
    border-bottom 1px solid borderBright
    padding 0.5rem 1rem
    display flex
    position sticky
    top -1rem
    background backgroundDeeper
    border-radius br br 0 0
    z-index 2
    display flex
    flex-flow row nowrap
    align-items center
    h3
        margin 0
        flex 1 1 auto
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        padding-right 0.5em
        box-sizing border-box
    .feather
        cursor pointer
        flex 0 0 auto
        &:hover
            color act
.emitter-editor-aTexture
    width 2rem
    height 2rem
    margin-right 1rem
    flex 0 0 auto