[submodule "DragonBonesJS"]
	path = DragonBonesJS
	url = https://github.com/DragonBones/DragonBonesJS.git
[submodule "SSCD.js"]
	path = SSCD.js
	url = https://github.com/CosmoMyzrailGorynych/SSCD.js.git
[submodule "docs"]
	path = docs
	url = https://github.com/ct-js/docs.ctjs.rocks.git
[submodule "bundledAssets"]
	path = bundledAssets
	url = https://github.com/ct-js/bundled-assets.git
