module-meta
    h1
        margin 0 0 0.35rem
    .bigpower
        margin-left 1em
    .aModuleFeature
        cursor help
        margin-left 0.35rem
    .aModuleCodename
        float right
        opacity 0.65
    .aModuleAuthorList
        margin-top 0.75rem
        font-size 90%
        a
            margin-right 1rem
            display inline-block
        svg.feather
            margin-right 0.35rem
            width 1.25rem
            height 1.25rem
    .aModuleIcon
        width 2rem
        height 2rem
        stroke-width 1.1px
        vertical-align top
        color accent1
        margin-left 1rem
        flex 0 0 auto
        align-self flex-end
    .hsub
        line-height 1.5
        margin 0.5rem 0