room-events-editor
    border-top 0 none
    z-index 11
    overflow hidden !important
    .&-Properties
        width 20rem
    & > .aModal
        width 95%
        height 100%
    catnip-editor
        padding-left 0.5rem
