catnip-library
    background background
    box-sizing border-box
    .aSearchWrap
        padding 1rem
        svg
            right 1.5rem
    .flexfix-body
        overflow-y scroll
        overflow-x hidden
        padding 0 1rem 1rem
