colors = {
    wildcard: hue(act, 245)
    string: hue(act, 321)
    number: darken(hue(act, 108), 10%) // this one needs to be darker as HLS is shit
    boolean: hue(act, 25)
}

catnip-block
    display block
    & > *
        vertical-align middle
    & > * + *
        margin-left 0.25rem
    background background
    border-radius br
    border 1px solid borderBright
    cursor grab
    line-height 1
    {transshort}
    &:hover
        {shad}
    &.command
        padding 0.5rem 0.75rem
        margin 0.5rem 0
        gap 0.5rem
    &.computed, .&-aConstantInput
        gap 0.25rem
        border-radius 100em !important
        margin 0.5rem 0
        padding 0.1rem 0.25rem 0.1rem 0.5rem !important
        flex 0 0 auto
        width max-content
        min-height 1.5rem
        box-sizing border-box
        svg
            width 1rem
            height @width
    for class, color in colors
        &.computed.{class}, .&-aConstantInput.{class}
            color color
            border 1px solid color
            background-color mix(background, color, 90%)
            &:hover
                border-color color
            & > svg
                color color
            &::placeholder
                color color
                opacity 0.65
    &.computed.userdefined, .&-aConstantInput.userdefined
        background wildcard
        border 1px solid wildcard
        &:hover
            border-color wildcard
        color white
        font-weight bold
        & > svg
            color white
    & &.computed, & .&-aConstantInput
        margin 0.1rem 0
    & > svg.feather
        color act
        vertical-align middle
    & & .&-aTextLabel
        font-size 14px

    textarea
        width 100%
        box-sizing border-box
        margin 0.5rem 0

    .&-Blocks
        background borderPale
        border-radius br
        border 1px solid borderBright
        padding 0.5rem 0.5rem 0
        margin 0.5rem 0
        & + *
            margin-left 0
    .&-aBlockPlaceholder
        opacity 0.65
        margin-bottom 0.5rem
        & > * + *
            margin-left 0.35rem
    &.note
        background mix(background, yellow, 90%)
        border-color mix(borderBright, yellow, 80%)
        {shad}
        display flex
        flex-flow row nowrap
        .catnip-block-aTextLabel
            display none
        svg
            flex 0 0 auto
        textarea
            flex 1 1 auto
            border 0
            margin 0
            font-style italic
            background transparent
            transition unset
            height 1.5rem
.catnip-block-aConstantInput
    max-width 4rem
