catnip-editor
    background borderPale
    border-radius br
    border 1px solid borderBright
    .&-scriptable-aCanvas
        overflow-y scroll
        padding 0.5rem
        :first-child
            margin-top 0
        :last-child
            margin-bottom 0
    &.flexrow catnip-library
        width 20rem
        flex 0 1 auto
