catnip-library
    background background
    box-sizing border-box
    .aSearchWrap
        padding 1rem
        svg
            right 1.5rem
    .flexfix-body
        overflow-y scroll
        overflow-x hidden
        padding 0 1rem 1rem
    .computed:has(+ .computed)
        margin-right 0.25rem
    .catnip-block-aBlockPlaceholder
        margin 0.35rem 0
    collapsible-section
        margin 0 -1rem
        .collapsible-section-aWrapper, .collapsible-section-aHeader
            padding-left 1rem
            padding-right 1rem
