code-editor-scriptable
    .&-aProblemPanel
        padding 0.5rem 1rem
        border 1px solid borderBright
        border-radius br
        pre
            overflow auto
            max-height 5rem
        svg
            margin-right 0.5rem
        button
            margin-left 1rem
            margin-right 0
