// This file is needed to transfer Neutralino auth credentials to a page served by Bun,
// so it can be manipulated through API and Neutralino.js API can be used by game devs.

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ct.js debugger
    body
        script(src="/data/neutralino.js")
        script.
            window.Neutralino.init();
        script(src="/data/debugBridge.js")
