doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ct.js debugger
    body
        script.
            if (!localStorage.debugBridge) {
                document.write('No localStorage.debugBridge found!');
            } else {
                window.location = localStorage.debugBridge;
            }
