doctype html
html#theDebuggerToolbarWindow
    include includes/head.pug
    body.tall
        debugger-toolbar
        script(src="./data/bundle.js")
        script.
            document.title = 'Ct.js debugger\'s toolbar';
            window.signals = window.signals || riot.observable({});
            riot.mount('*');
