doctype html
html
    include includes/head.pug
    body.maximized
        root-tag
        include includes/footer.pug
        script.
            'use strict';
            window.signals = {};
            riot.observable(window.signals);
            riot.mount('*');
            setTimeout(() => {
                document.getElementById('loading').classList.add('fadeout');
            }, 0)
