doctype html
html
    include includes/head.pug
    body.tall
        debugger-screen.flexrow
        script(src="./data/bundle.js")
        script.
            window.signals = {};
            riot.observable(window.signals);
            riot.mount('*');

            let title = /\?title=([\s\S]+)&/g.exec(location.search)[1];
            title = title? decodeURIComponent(title) : 'ct.js Game';
            document.title = title + ' — ct.js debugger';