type-editor
    .nav
        border-bottom-left-radius 0
        border-bottom-right-radius 0
        flex-grow 0
        & + div
            left 0
            right 0
            top 0
            bottom 0
            position relative
        @media (max-width 800px)
            li span
                display none
    .tabbed
        height 100%
        box-sizing border-box
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        padding 0
        overflow visible
        border-top 0
        .aCodeEditor
            position absolute
            left 0
            top 0
            right 0
            bottom 0
            if (theme == 'Horizon')
                border 1px solid borderBright
                border-top 0
                box-sizing border-box
                border-radius 0 0 br br
    .tabwrap
        height 100%
    display flex
    flex-flow row nowrap
    padding 1rem
    .type-editor-Properties
        flex 0 0 19rem
        margin-right 1rem
    .type-editor-aCodeEditor
        flex 1 1 auto

.type-editor-aTexturePicker
    width 130px
    height 130px
    margin 0.5em auto
    position relative
    cursor pointer
    {trans}
    background backgroundDeeper
    div
        position absolute
        left 0
        right 0
        text-align center
        bottom 0
        font-size 80%
        opacity 0.5
        {trans}
    &:hover
        border-color act
        div
            opacity 1
    img
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        max-width 128px
        max-height 128px
