style-editor, [data-is="style-editor"]
    display flex
    flex-direction row
    z-index 2
    .aNav
        border-bottom-left-radius 0
        border-bottom-right-radius 0
    .align
        margin-bottom 0.2em
.style-editor-aPreview, .style-editor-Properties
    flex 1 1 auto
.style-editor-Properties
    flex-grow 0
    width 25em
    padding 0.5em
    .flexfix-header
        margin-bottom 0.5rem
    .flexfix-footer
        margin-top 0.5rem
