sound-editor
    .modal
        padding 1em calc(1em + 0.5px)
        width 21em
        vertical-align middle
        background background
        color text
    if (themeDark)
        audio
            filter invert(1)

sounds-panel .cards img
    border 0 none !important
