graphic-editor
    .column
        width 16em
        flex 1
    .column, #atlas
        position absolute
        top 0
        bottom 0
        padding 1em
    .column2
        right 0
    @media (max-height 720px)
        .fifty
            width 49%

#graphviewdone
    bottom 0.5em
    left 1em
    width 13em
    position absolute
.preview
    position absolute
    bottom 0
    left 0
    right 0
    padding 0.5em 1em
#preview
    height 10em
    margin-bottom 0.5em
    @media (max-height 680px)
        height 6em


#previewbgcolor
    position absolute
    opacity 0
    left 1em
    width 0
    height 0
    top 11em
    padding 0

.graphview-tools
    position absolute
    left 0
    top 0.5em
    right 0.5em
    z-index 20
#graphviewframes
    position absolute
    left 16em
    top 0
    bottom 0
    right 0
    ul
        list-style none
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        overflow auto
        padding 3.5em 0.5em 0
        margin 0
#grahpspeed
    width 3em
    margin-left 0.5em
#graphcolor
    margin-top 0.5em
.graphic-editor-anAtlas
    overflow auto
    position absolute
    top 0
    left 16em
    right 16em
    bottom 0
    canvas
        margin 1rem