#intro
    padding 0.5em
    width 40em
    max-width 100%
    z-index 30
    background rgba(white, 0.9)
    #text
        margin-top 0
    label.file
        margin 1em 0
    h3
        margin 0

#previewProject
    text-align center

#previewProject img
    max-width 100%
    max-height 20em

#recent
    height 15em
    span
        overflow hidden
        white-space nowrap
        width 100%
        display block
        text-overflow ellipsis


#bg
    background url('../img/bg.png')
    background-size cover
    background-position center center
    z-index 25

#newProject
    margin 0 -0.5em -0.5em

#id
    width 14.75em
#newproj
    margin-right 0
