room-editor
    display flex
    flex-direction row
    .toolbar
        display flex
        flex-direction column
        padding 0.5em
        width 17em
        box-sizing border-box
        flex 1 1 auto
        flex-grow 0
        .palette
            flex 1 1 auto
        .settings button
            margin 0.5em 0
        .nav
            border-bottom-right-radius 0
            border-bottom-left-radius 0
    .palette
        position relative
        .tabwrap
            position absolute
            left 0
            right 0
            top 0
            bottom 0
    .editor
        display flex
        position relative
        flex 1 1 auto
        .shift
            position absolute
            top 0.5rem
            left 0.5rem
        .zoom
            position absolute
            top 0.5rem
            right 0.5rem
        .grid
            position absolute
            bottom 0.5rem
            right 0.5rem
        .center
            position absolute
            bottom 0.5rem
            left 0.5rem
        canvas
            width 100%
            height 100%

.room-editor-TypeSwatches, .room-editor-Backgrounds
    overflow-y scroll
    position absolute
    width 100%
.room-editor-TypeSwatches
    padding 0 !important
    display flex
    flex-flow row wrap
    align-content start
.room-editor-aTypeSwatch
    list-style none
    border 1px solid bl
    width 76px
    display inline-block
    box-sizing border-box
    text-align center
    margin 1px
    border-radius br
    cursor pointer
    padding 0 0.4em
    font-size 80%
    line-height 1.7
    {trans}
    span
        display block
        text-overflow ellipsis
        overflow hidden
    &:hover
        border-color act
        {transshort}
    &.active
        border-color accent1
    img
        height 64px
        width 64px

.room-editor-Backgrounds
    padding 0.5em
    ul
        margin 0
        padding 0
    .bg
        list-style none
        height 64px
        padding 0.3em 0.8em
        border-radius br
        border 1px solid bl
        line-height 64px
        margin-bottom 0.2em
        img
            float right
            width 64px
            height 64px
            border-radius br
            cursor pointer
        span
            cursor pointer
            border-bottom 1px dotted bl
            width 6em
            line-height 1
            display inline-block
            vertical-align middle
            margin-top 1em
