#styleview
    display flex
    flex-direction row
    .nav
        border-bottom-left-radius 0
        border-bottom-right-radius 0
    .align
        margin-bottom 0.2em
    .align i
        font-size 16px
#stylepreview, #styleleft
    flex 1 1 auto
#styleleft
    flex-grow 0
    width 25em
    padding 0.5em
#topleft, #topcenter, #topright
    i
        position relative
        top -0.5em
#bottomleft, #bottomcenter, #bottomright
    i
        position relative
        top 0.4em
#topleft, #middleleft, #bottomleft
    i
        position relative
        right 0.8em
#topright, #middleright, #bottomright
    i
        position relative
        left 0.8em
