doctype html
html(lang="ru")
    include includes/head.pug
    body.maximized(data-lang="#{me.id}")
        include includes/menu.pug
        div
            include includes/settings.pug
            include includes/modules.pug
            include includes/graphic.pug
            include includes/graphview.pug
            include includes/sounds.pug
            include includes/soundview.pug
            include includes/styles.pug
            include includes/styleview.pug
            include includes/types.pug
            include includes/typeview.pug
            include includes/rooms.pug
            include includes/roomview.pug
        notepad-panel
        include includes/footer.pug
        project-selector
        audio#scream(src="girlyscream_01.ogg")
        audio#notify(src="notification.ogg")
        audio#alliluya(src="alliluya.ogg")
        script.
            riot.mount('*');
