doctype html
html(lang="ru")
    include includes/head.pug
    body.maximized(data-lang="#{me.id}")
        main-menu
        notepad-panel
        include includes/footer.pug
        project-selector
        audio#scream(src="girlyscream_01.ogg")
        audio#notify(src="notification.ogg")
        audio#alliluya(src="alliluya.ogg")
        script.
            window.signals = {};
            riot.observable(window.signals);
            riot.mount('*');
