array-editor
    & > .aStripedList > .flexrow
        align-items baseline
    input[type="text"], input[type="number"], input[type="url"], input[type="password"], select, textarea
        min-width 3em
