asset-input
    line-height 0
    & > *
        line-height 1.5
    & > .aButtonGroup
        max-width 100%
        :first-child
            display flex
            flex-flow row nowrap
            align-items center
            overflow hidden
            & img, & svg
                flex 0 0 auto
            & span
                flex 1 1 auto
                overflow hidden
                text-overflow ellipsis
                // Fixes weird horizontal overflow where a text doesn't shrink
                min-width 0
    &.wide
        & > .aButtonGroup
            @extends .aButtonGroup.wide
            button
                flex 0 0 auto
                &:first-child
                    flex 1 1 auto
    & > .aButtonGroup img
        width 2rem
        margin-right 1rem
        vertical-align bottom
    &[compact] > .aButtonGroup img
        margin-right 0.5rem
    .asset-input-aBigInput
        @extends .aPanel
        margin 0 auto
        padding 0.5rem
        text-align center
        position relative
        cursor pointer
        line-height 1.5
        {trans}
        background backgroundDeeper
        .asset-input-TinyTools
            position absolute
            right 0.5rem
            top 0.5rem
        &:hover
            border-color act
            div
                opacity 1
        img
            max-width 128px
            max-height 128px
        & > svg.feather
            width 5rem
            height @width
            stroke-width (2px / 5 * 1.5)
            margin 1.5rem 0
