collapsible-section
    margin-top 1rem
    display block
    &:first-child
        margin-top 0
    .&-aHeader
        padding 0.5rem 0
        align-items center
        border-bottom 1px solid borderBright
        display grid
        grid-template-columns 1fr auto
        grid-gap 0.5rem
        & > :first-child
            display contents
            & > h1, & > h2, & > h3, & > h4, & > h5, & > h6
                padding 0
                margin 0
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
        asset-input
            overflow hidden
        & > svg
            {trans}
            flex 0 0 auto
            cursor pointer
            &.rotated
                transform rotate(180deg)
    .&-aWrapper
        padding 1rem 0 0.5rem
    &.aPanel
        .collapsible-section-aHeader
            padding 0.5rem 1rem
            & > h1, & > h2, & > h3, & > h4, & > h5, & > h6
                margin 0 1rem
        &.closed > .flexrow
            border-bottom 0
        .collapsible-section-aWrapper
            padding 1rem
