curve-editor
    position relative
    display block
    margin-right 1.5rem
    cursor default
.curve-editor-aGraphWrap
    position relative
    outline solid 1px borderBright
    if (themeDark)
        outline solid 1px mix(borderBright, text, 85%)
    line-height 0
    .aDragger
        transform translate(-50%, -50%)
        .safecolors &
            box-shadow 0 0 0 2px background, 0 0 0 4px borderBright, 0 0.1rem 0.2rem 4px rgba(0, 0, 0, 0.5)
            &.selected
                box-shadow 0 0 0 2px borderPale, 0 0 0 4px act, 0 0.1rem 0.2rem 4px rgba(0, 0, 0, 0.5)
.curve-editor-aGrid
    stroke borderPale
    stroke-width 1px
    if (themeDark)
        stroke borderBright
    .aMiddleLine
        stroke borderBright
        if (themeDark)
            stroke mix(borderBright, text, 85%)
.curve-editor-aCurve
    stroke act
    stroke-width 4px
    polyline
        cursor crosshair
.curve-editor-aRuler
    justify-content space-between
    position absolute
    z-index 1
    font-size 75%
    line-height 1em
    &.flexrow
        width 100%
        top 100%
        margin-top 0.2rem
    &.flexcol
        left 100%
        height 100%
        margin-left 0.2rem
    span
        flex 0 0 auto