asset-folder-tree
    .&-aToggler
        {transshort}
        transform translate(0.35rem, 0.1rem)
        &.opened
            transform translate(0.35rem, 0.1rem) rotate(90deg)
        &.hidden
            opacity 0
            cursor default
    .&-aFolder, .&-anAsset
        {transshort}
        cursor pointer
        border-radius br
        padding 0 0.5rem
        &:hover
            background borderPale
        svg, img
            width 1.25rem
            height @width
            vertical-align -4px
    .&-aSubtree
        position relative
        &::before
            content ''
            position absolute
            top -0.25rem
            bottom 0.5rem
            left -0.5em
            border-left 2px solid borderPale
        &:hover::before
            border-left 2px solid borderBright
        &.root::before
            content unset
    .&-anAsset
        margin-left 1.5em
