.color-input-aPicker
    display block
    cursor pointer
    border 1px solid borderPale
    border-radius br
    box-sizing border-box
    max-width 10rem
    height 2rem
    margin-top 0
    padding 0 0.5rem
    font-family mono
    font-size 0.75rem
    overflow hidden