extensions-editor
    type-selector.view, texture-selector.view
        position fixed
        z-index 9
        cursor default
    project-settings & textarea
        width 35rem
        height 10rem
        box-sizing border-box
        max-width 100%
    .nicetable dl
        margin 0
    collapsible-section.panel > .collapsible-section-aWrapper > &
        & > dl:first-child
            margin-top 0
        & > dl:last-child
            margin-bottom 0