extensions-editor
    template-selector.aView
        position fixed
        z-index 9
        cursor default
    project-settings & textarea
        width 35rem
        height 10rem
        box-sizing border-box
        max-width 100%
    .aNiceTable dl
        margin 0
    collapsible-section.aPanel > .collapsible-section-aWrapper > &
        & > dl:first-child
            margin-top 0
        & > dl:last-child
            margin-bottom 0
    [type="number"]
        width 6rem
