hover-hint
    line-height 1.25rem
    display inline-block
    margin-left 0.5rem
    vertical-align middle
    &:first-child
        margin-left 0
    .feather
        opacity 0.5
        width 1.25rem
        height 1.25rem
        vertical-align text-top
        cursor help
