game-tools.aButtonGroup
    position fixed
    left 0
    top 0
    bottom 0
    right 0
    margin 0
    align-items center
    #theDragger
        display flex
        flex 0 0 auto
        align-items center
        text-align center
        padding 0.35rem 0.5rem
        cursor move

.debugger-toolbar-aDivider
    height auto

.debugger-toolbar-aButton
    align-content stretch
    color act
    cursor pointer
    background background
    if (themeDark)
        background transparent
    {trans}
        padding 0.35rem 0.5rem
    text-align center
    &:hover, &.active
        background acttext
        color background !important
        {transshort}
        if (themeDark)
            color foreground
        if (!themeDark)
            border-color accent1
        svg
            color background !important
    &:active, &.selected
        {transshort}
        border-color accent1
        background accent1
        &.error
            background error
        color background
        svg
            color background
        if (themeDark)
            color foreground
            svg
                color foreground
    &:last-child
        border-radius 0 br br 0
.debugger-toolbar-aDivider
    border-right 1px solid borderBright
    height 100%
    width 0
    margin 0 0.5rem
    flex 0 0 auto
