search-and-recents.aNav
    border-left 0
    border-top 0
    & > li
        padding-left 0.65rem
        padding-right @padding-left
    .aDimmer
        padding 3.5rem 25%
        box-sizing border-box
        justify-content start
        align-items stretch
    .aPanel
        max-height calc(min(60%, 25rem))
        li
            text-align left
