writable-folder-prompt
    .dimmer
        z-index 100
        display flex
        flex-flow column nowrap
        align-items center
        justify-content space-around
    .aPanel
        padding 1rem 2rem
        {shadamb}
        max-width 50rem
        flex 0 0 auto
        box-sizing border-box