#theDebuggerToolbarWindow
    &, & body
        position relative
        width 100%
        height 100%
        overflow hidden
        background transparent

debugger-toolbar
    width 100%
    height 100%
    border-radius br
    border 1px solid borderBright
    background background
    display flex
    box-sizing border-box
    align-items stretch
    justify-content space-around
    line-height 38px
    .&-aDragger, .&-aButton
        align-content stretch
        padding 0 0.5rem
    .&-aDragger
        color borderBright
        height 100%
        cursor move
        -webkit-app-region drag
        app-region drag
    .&-aButton
        color act
        cursor pointer
        background background
        if (themeDark)
            background transparent
        {trans}
        &:hover, &.active
            background acttext
            color background
            {transshort}
            if (themeDark)
                color foreground
            if (!themeDark)
                border-color accent1
            svg
                color background
            if (themeDark)
                color foreground
                svg
                    color foreground
        &:active, &.selected
            {transshort}
            border-color accent1
            background accent1
            color background
            svg
                color background
            if (themeDark)
                color foreground
                svg
                    color foreground
        &:last-child
            border-radius 0 br br 0
    .&-aDivider
        border-right 1px solid borderBright
        height 100%
        width 0
        margin 0 0.5rem