.aQRList
    display flex
    flex-flow row wrap
    gap 2rem 3rem
    align-items center
    justify-content space-evenly
.aQR
    flex 0 1 45%
    img
        margin-bottom 0.5rem
        display inline-block !important
debugger-modal
    width 45rem
    padding 2rem 2rem 1rem
    left 50% !important
    top 50% !important
    transform translate(-50%, -50%)
    max-width 90vw
    max-height 90vh
    border-radius br
    {shadamb}
    border 1px solid borderPale
    .toright span
        cursor pointer
        &:hover
            color act
