.aDebuggerToolbar
    display flex
    flex-flow row nowrap
    padding 0 0.5rem
    border-top 1px solid borderBright
    .debugger-toolbar-aButton
        padding 0.15rem 0.5rem
        flex 1 1 auto
        text-align center
    &.vertical .debugger-toolbar-aButton
        padding 0.65rem 0.5rem
    .debugger-toolbar-aDivider
        height auto
    &.tight .debugger-toolbar-aButton > span
        display none
debugger-screen #thePreview
    overflow hidden