.aQRList
    display flex
    flex-flow row wrap
.aQR
    flex 1 1 280px
    img
        margin-bottom 0.5rem
        display inline-block !important
        if (themeDark)
            border 1rem solid act
    margin 0 0 2rem
debugger-modal
    width 45rem
    padding 2rem 2rem 1rem
    left 50% !important
    top 50% !important
    transform translate(-50%, -50%)
    max-width 90vw
    max-height 90vh
    border-radius 3px
    border 1px solid
    .toright span
        cursor pointer
        &:hover
            color act