actions-input-selector
    position fixed
    z-index 10
    width 35rem
    left 50%
    margin-left -20rem
    top 5rem
    bottom 5rem
    .panel
        padding 1rem
        box-shadow 0 1rem 2rem rgba(foreground, 0.35)
        height 100%