project-settings
    h1
        margin 0.5rem 0
    aside, main
        height 100%
        overflow auto
    aside
        width 18rem
        h3
            margin 0.75rem 0 0 1rem
    main
        flex 1 1 auto
        padding 0.5rem 1.5rem
        border-radius 0 br br br
