project-settings
    h1
        margin 0.5rem 0
    aside, main
        height 100%
        overflow auto
    aside
        width 18rem
        .nav.tabs
            border 1px solid borderBright
            border-right 0
            border-radius br 0 0 br
            li
                padding-top 0.35rem !important
                padding-bottom @padding-top
    main
        flex 1 1 auto
        padding 0.5rem 1.5rem
        border-radius 0 br br br
        @extends .panel