scripts-settings
    .menu
        margin-bottom 1.5rem
        li
            padding-left 0
            padding-right 0
            &:hover
                padding-left 0.5rem
                padding-right 0