scripts-settings
    .menu
        margin-bottom 1.5rem
        li
            padding-left 0
            padding-right 0
            &:hover
                padding-left 0.5rem
                padding-right 0
            .dim
                color borderBright
                {trans}
            .scripts-settings-aDeleteButton
                margin-left 1rem
            &:hover
                svg
                    color act
                .scripts-settings-aDeleteButton svg
                    color red
            &:active
                svg
                    color background