.modal, .panel
    box-sizing border-box
    background white
    if (theme == 'Night')
        background bl
    border 1px solid bl
    if (theme == 'Night')
        border 1px solid bd
    border-radius br
    position relative
    &.pad
        padding 1rem

.modal
    position fixed
    left 50%
    top 50%
    transform translate(-50%, -50%) translateZ(0)
    filter blur(0px)
    backface-visibility hidden

.view
    overflow auto
    background snow
    if (theme == 'Night')
        background white
    position absolute
    left 0
    right 0
    top -1px
    bottom 0

.inset
    background bl
    padding 1rem
    margin 0 -1rem
    border-top 1px solid bd

// Меню выбора - список
.menu
    padding 0
    overflow auto
    font-weight 400
    ul
        margin 0
        padding 0
    li
        list-style none
        padding 0.2em 0.8em
        margin 0
        border-bottom 1px solid bl
        cursor pointer
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        {trans}
        &:hover
            {transshort}
            border-bottom-color bd
            color acttext
            padding 0.2em 0.5em 0.2em 1.1em
        &:active
            background act
            border-bottom-color transparent
            color white

// панели управления
.nav
    background white
    if (theme == 'Night')
        background bl
    border-radius br
    border-top 1px solid bd
    border-left 1px solid bd
    padding 0
    margin 0
    display flex
    flex-direction row
    li
        text-align center
        cursor pointer
        border-right 1px solid bd
        border-bottom 1px solid bd
        flex auto
        list-style none
        padding 0.25em
        margin 0
        display inline-block
        {trans}
        box-shadow 0 0 white inset
        if (theme == 'Night')
            background bl
        &:hover, &.active
            {transshort}
            color acttext
            i
                {transshort}
                color accent1
            box-shadow 0 -2px accent1 inset
        &:active
            background acttext
            color white
            box-shadow 0 -2px acttext inset
            i
                color white
        &:first-child
            border-top-left-radius inherit
            border-bottom-left-radius inherit
        &:last-child
            border-top-right-radius inherit
            border-bottom-right-radius inherit


// resource cards
.cards
    list-style none
    padding 0
    li
        background white
        padding 0.8em
        margin 0.3em
        border 1px solid bl
        border-radius 3px
        display inline-block
        vertical-align top
        cursor pointer
        width 15em
        transition 0.35s ease all
        &:hover
            border-color acttext
        &:active
            border-color accent1
            background act
            color white
        span
            font-family consolas, monospace
            width calc(14.5em - 64px)
            display inline-block
            text-overflow ellipsis
            white-space nowrap
            overflow hidden
        img
            float left
            height 64px
            width 64px
            margin -0.5em 1em -0.5em -0.5em
            border-radius br
            &:hover
                background rgba(act, 0.35)
sounds-panel, rooms-panel
    .cards li img:hover
        background none

.anErrorNotice
    background mix(error, white, 10%)
    border 1px solid error
    border-radius br
    padding 0.5rem 1rem
    line-height 1.5
    position absolute
    margin-top 0.5rem
    color error
    z-index 100
    &::before
        background mix(error, white, 10%)
        content ''
        left 0.5rem
        top -0.33rem
        position absolute
        width 0.5rem
        height 0.5rem
        border-left 1px solid error
        border-top 1px solid error
        transform rotate(45deg)