// табы
.tabbed
    border-radius 0 0 br br
    border 1px solid borderBright
    border-top 0 none
    padding 1em
    background background
    overflow auto

.tabbed, .tall
    h1, h2, h3, h4, h5, h6
        &:first-child
            margin-top 0
.tabwrap
    flex-direction column
    max-height 100%
    width 100%
    display flex
    & > *
        flex 1 1 auto

prideR = #E40203
prideO = #FF8B00
prideY = #FEED00
prideG = #00AE25
prideB = #0078FF
prideP = #AE2FC6

root-tag.pride
    app-view > nav ul
        span
            font-weight bolder
        li:nth-child(6n + 1)
            span, svg
                color mix(act, prideR, 10%)
        li:nth-child(6n + 2)
            span, svg
                if (themeDark)
                    color mix(act, prideO, 10%)
                else
                    color shade(mix(act, prideO, 10%), 10%)
        li:nth-child(6n + 3)
            span, svg
                if (themeDark)
                    color mix(act, prideY, 10%)
                else
                    color shade(mix(act, prideY, 15%), 35%)
        li:nth-child(6n + 4)
            span, svg
                color mix(act, prideG, 10%)
        li:nth-child(6n + 5)
            span, svg
                if (themeDark)
                    color tint(mix(act, prideB, 10%), 20%)
                else
                    color mix(act, prideB, 10%)
        li:nth-child(6n)
            span, svg
                color mix(act, prideP, 10%)
