// табы
.tabbed
    border-radius 0 0 br br
    border 1px solid borderBright
    border-top 0 none
    padding 1em
    background background
    overflow auto

.tabbed, .tall
    h1, h2, h3, h4, h5, h6
        &:first-child
            margin-top 0
.tabwrap
    flex-direction column
    max-height 100%
    width 100%
    display flex
    & > *
        flex 1 1 auto
