@charset "utf-8"

background = #292932
foreground = #A9B7C6
shadows = #000

act = #5db9ff
acttext = #5db9ff
accent1 = #5db9ff
error = #ff6970
red = error
success = #5db9ff
green = success
warning = #daae00
orange = warning

borderPale = #334
borderBright = #445
borderHighlight = #556

text = #A9B7C6
backgroundDeeper = #222228

theme = 'PooxelBlue'
themeDark = true

@import 'themePooxelGreen.styl'