@charset "utf-8"

background = #fff
foreground = #333
shadows = #000

/* Frequently used properties */
trans =
    transition 0.35s ease all
transshort =
    transition 0.15s ease all
shad =
    box-shadow 0 0.1rem 0.2rem rgba(shadows, 0.5)
shadamb =
    box-shadow 0 0 0.35rem rgba(shadows, 0.5)

/* Base fonts for UI */
fonts = font = 'Open Sans', sans-serif, serif
font-mono = mono = Iosevka, monospace

br = 0.2rem
iconsize = 1.5rem

/* Colors used by this theme */
act = #446adb
acttext = #446adb
accent1 = #5144db
accent2 = #44dbb5
error = #d44f57
red = error
success = #4ab660
green = success
warning = #ff9748
orange = warning

theme = 'Day'
themeDark = false

.error
    color error
.success
    color success
.warning
    color warning

borderPale = #e1e2e5
borderBright = #c8cdd1

text = #666
backgroundDeeper = #fafafa


@require 'hvost.styl'

@require '3rdParty/*.styl'
@require './../../app/node_modules/highlight.js/styles/tomorrow.css'

@require 'common.styl'
@require 'inputs.styl'
@require 'typography.styl'
@require 'confetti.styl'
@require 'buildingBlocks.styl'
@require 'tabs.styl'

@require 'tags/**/*.styl'