@charset "utf-8"

foreground = #fff
text = #D5D8DA
background = #1C1E26
backgroundDeeper = #1C1E26
shadows = #E95378

borderPale = #2F3038
borderBright = #2F3038

/* handy blocks */
trans =
    transition 0.35s ease all
transshort =
    transition 0.15s ease all
shad =
    box-shadow 0 0.15rem 0.35rem rgba(shadows, 0.35)
shadamb =
    box-shadow 0 0.25rem 1.5rem -0.3rem  rgba(shadows, 0.5)

/* Fonts */
fonts = font = 'Open Sans', sans-serif, serif
font-mono = mono = Iosevka, monospace

br = 0.25rem
iconsize = 1.5rem

/* Basic colors & accents */
act = #E95378
acttext = act
accent1 = #E95378
accent2 = #E95378
error = #E9436D
red = error
success = #29D398
green = success
warning = #FAB795
orange = warning
blue = #26BBD9
cyan = #59E1E3

theme = 'Horizon'
themeDark = true

.error
    color error
.success
    color success
.warning
    color warning


@require 'hvost.styl'

@require '3rdParty/*.styl'
@require './../../app/node_modules/highlight.js/styles/atom-one-dark.css'

@require 'common.styl'
@require 'inputs.styl'
@require 'typography.styl'
@require 'confetti.styl'
@require 'buildingBlocks.styl'
@require 'tabs.styl'

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
.selectbox
    border-width 2px

.view
    background background

.nav li
    border-right 0
    border-left 0
    &:hover, &.active
        color foreground

#moduleinfo .bigpower:not(.off)
    border-color success
    &:after
        background success

@require 'tags/**/*.styl'

gradCore = #733041
gradTransition = #2e2233
gradOuter = #1c1e26
#bg
    background radial-gradient(ellipse at bottom, gradCore 0%, gradTransition 50%, gradOuter 100%)