@charset "utf-8"

foreground = #fff
background = #08080D
shadows = #000

/* Frequently used properties */
trans =
    transition 0.35s ease all
transshort =
    transition 0.15s ease all
shad =
    box-shadow 0 0.1rem 0.2rem rgba(shadows, 0.5)
shadamb =
    box-shadow 0 0 0.35rem rgba(shadows, 0.5)

/* Base fonts for UI */
fonts = font = 'Open Sans', sans-serif, serif
font-mono = mono = Iosevka, monospace

br = 0.2rem
iconsize = 1.5rem

/* Colors used by this theme */
act = #44dbb5
acttext = act
accent1 = #44dbb5
accent2 = #446adb
error = #d44f57
red = error
success = #58E875
green = success
warning = #FFA968
orange = warning

theme = 'Night'
themeDark = true

.error
    color error
.success
    color success
.warning
    color warning

borderPale = #121822
borderBright = #1C2B42

text = #C8CECD
backgroundDeeper = mix(background, borderPale, 50%)

@require 'hvost.styl'

@require '3rdParty/*.styl'
@require './../../app/node_modules/highlight.js/styles/atom-one-dark.css'

@require 'common.styl'
@require 'inputs.styl'
@require 'typography.styl'
@require 'confetti.styl'
@require 'buildingBlocks.styl'
@require 'tabs.styl'

@require 'tags/**/*.styl'