@charset "utf-8"

background = #292932
foreground = #A9B7C6
shadows = #000

act = #5db9ff
acttext = #5db9ff
accent1 = #5db9ff
error = #ff6970
red = error
success = #5db9ff
green = success
warning = #daae00
orange = warning
homecolor = act
homedarkcolor = darken(homecolor, 10%)

borderPale = #334
borderBright = #445
borderHighlight = #556

text = #A9B7C6
backgroundDeeper = #222228

homecolor = background
homedarkcolor = backgroundDeeper

theme = 'PooxelBlue'
themeDark = true
themeThickBorders = false

@import 'themePooxelGreen.styl'
