@charset "utf-8"

foreground = #ECEFF4
text = #D8DEE9
background = #3B4252
backgroundDeeper = #2E3440
shadows = #292e39

borderPale = #434C5E
borderBright = #4C566A

trans =
    transition 0.35s ease all
transshort =
    transition 0.15s ease all
shad =
    box-shadow 0 0.1rem 0.2rem rgba(shadows, 0.5)
shadamb =
    box-shadow 0 0 0.35rem rgba(shadows, 0.5)

fonts = font = 'Open Sans', sans-serif, serif
font-mono = mono = Iosevka, monospace

br = 0.2rem
iconsize = 1.5rem

act = #88C0D0
acttext = act
accent1 = #88C0D0
error = #BF616A
red = error
success = #A3BE8C
green = success
warning = #D08770
orange = warning

theme = 'Nord'
themeDark = true
themeThickBorders = false

@require 'hvost.styl'

@require '3rdParty/*.styl'
@require './../../app/node_modules/highlight.js/styles/nord.css'

@require 'common.styl'
@require 'inputs.styl'
@require 'typography.styl'
@require 'confetti.styl'
@require 'buildingBlocks.styl'
@require 'tabs.styl'

@require 'tags/**/*.styl'

#bg
    background backgroundDeeper
