texture-generator
    .&-aPreview
        padding 1rem
        position relative
        canvas
            transform-origin 0 0
    .&-aScalingNotice
        position absolute
        bottom 1rem
        left 1rem
    .&-Settings
        border-width 0 1px 0 0
        width 15rem
        padding 1rem