texture-editor
    .column
        width 16em
    .column, #atlas
        padding 1em
    .column2
        .flexfix-body
            margin -1rem -1rem 0
            padding 1rem
    @media (max-height 720px)
        .fifty
            width 49%
    .preview
        bottom 0
        left 0
        right 0
        padding 0.5em 1em
        margin 0 -1rem -1rem
    .aDragger
        margin 1rem
.texture-editor-aCanvasWrap
    width 100%
    height 100%
    overflow scroll
    position relative

#textureviewdone
    bottom 0.5em
    left 1em
    width 13em
    position absolute
#preview
    height 10em
    overflow auto
    margin -0.5rem -1rem 0.5rem
    padding 0.5rem
    border-bottom 1px solid borderPale
    @media (max-height 680px)
        height 6em

#grahpspeed
    margin-top 0.25rem

#previewbgcolor
    position absolute
    opacity 0
    left 1em
    width 0
    height 0
    top 11em
    padding 0

.textureview-tools
    position absolute
    top 0.5em
    right 0.5em
    .file
        display inline-block
.textureview-zoom
    position absolute
    bottom 0.5em
    right 1em
    text-align right
    zoom-slider
        width 20rem
.textureview-bg
    position absolute
    left 0.5em
    bottom 0.5em
#textureviewframes
    position absolute
    left 16em
    top 0
    bottom 0
    right 0
    ul
        list-style none
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        overflow auto
        padding 3.5em 0.5em 0
        margin 0
#grahpspeed
    width 3em
    margin-left 0.5em
#texturecolor
    margin-top 0.5em
.texture-editor-anAtlas
    position relative
    overflow auto
    canvas
        margin 1rem

.aStripPointRow
    *
        margin 0 0.25rem 0 0
        &:last-child
            margin 0
    & + &
        margin-top 0.25rem