texture-editor
    &.aDimmer
        padding 1rem 4rem
        & > .aModal
            width 100%
            height 100%
            max-width unset
            max-height unset
    .column
        width 18em
        padding 1em
    .column1, .column2
        .flexfix-body
            margin -1rem -1rem 0
            padding 1rem
    @media (max-height 720px)
        .fifty
            width 49%
    .preview
        bottom 0
        left 0
        right 0
        padding 0.5em 1em
        margin 0 -1rem -1rem
    .aDragger
        margin 1rem
    .aDashedMaskMarker
        border 2px dashed borderBright
        padding 1rem
        position relative
        background backgroundDeeper
        &::before, &::after
            display block
            content ''
            position absolute
            background borderPale
            border-radius 2px
            width 2px
            height 2px
        &::before
            left 50%
            top 0.1rem
            bottom 0.1rem
            height auto
            transform translate(-50%, 0)
        &::after
            top 50%
            left 0.1rem
            right 0.1rem
            width auto
            transform translate(0, -50%)
        input
            margin 0.25rem 0
            position relative
            z-index 2
        &-anArrow
            position absolute
            color borderPale
            transform translate(-50%, -50%)
            &.left
                top 50%
                left 0.2rem
            &.right
                top 50%
                right 0.2rem
                transform translate(50%, -50%)
            &.up
                top 0.2rem
                left 50%
            &.down
                bottom 0.2rem
                left 50%
                transform translate(-50%, 50%)
    .aPivotSymbol
        @extends .aDragger
        border-radius 0
        cursor default
        position relative
        z-index 2   
        display inline-block
        vertical-align middle
        margin 0 0.5rem
        transform initial
    .&-anAnimationPreview
        height 10em
        overflow hidden
        margin -0.5rem -1rem 0.5rem
        padding 0.5rem
        border-bottom 1px solid borderPale
        box-sizing border-box
        @media (max-height 680px)
            height 6em
        canvas
            object-fit contain
            height 100%
            width 100%
    .&-aCanvasWrap
        width 100%
        height 100%
        overflow scroll
        position relative

.texture-editor-anAnimSpeedField
    margin-top 0.25rem

.texture-editor-Tools
    position absolute
    top 0.5em
    right 0.5em
    .file
        display inline-block
.textureview-zoom
    position absolute
    bottom 0.5em
    right 1em
    text-align right
    zoom-slider
        width 20rem
.textureview-bg
    position absolute
    left 0.5em
    bottom 0.5em
.texture-editor-anAnimSpeedField
    width 3em
    margin-left 0.5em
.texture-editor-anAtlas
    position relative
    overflow auto
    canvas
        margin 1rem

.aStripPointRow
    *
        margin 0 0.25rem 0 0
        &:last-child
            margin 0
    & + &
        margin-top 0.25rem
