// модальные окна

.modal
    position fixed
    left 50%
    top 50%
    transform translate(-50%, -50%)
    box-sizing border-box
    background white
    border 1px solid bl
    border-radius br

.modal, .panel
    box-sizing border-box
    background white
    border 1px solid bl
    border-radius br

.inset
    background bl
    padding 0.8em
    border-top 1px solid bd
